body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    margin: 40px;
}

h1 {
    text-align: center;
}

form {
    background: white;
    padding: 25px;
    margin: 30px auto;
    width: 650px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid #999;
    padding: 15px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-top: 10px;
}

input,
textarea,
select {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #2c7be5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1a5bb8;
}

.checkbox input {
    width: auto;
}

.radio-group input {
    width: auto;
}


.direccion {
    background: white;
    transition: 0.4s;
    position: relative;
}


.direccion:hover {
    background: #ffff66;
}

.mensaje {
    display: none;
    font-size: 13px;
    color: #333;
    margin-top: 10px;
}


.direccion:hover .mensaje {
    display: block;
}